<div class="card" style="width: 32rem; align-items: center; margin-left: auto; margin-right: 0px;">
    <img src="/assets/chalupaRewards.jpg" class="card-img-top" alt="shit">
    <div class="card-body">
      <h5 class="card-title">Chipotle Cheddar Chalupa For $1</h5>
      <p class="card-text" style="text-align: center;">Get this offer when you buy a Crunchy or Soft Taco in the same order. Only on our app now thru 9/23.</p>
      <a href="#" class="btn btn-primary" style = "background-color: blueviolet;">Join Now</a>
      <p style = "font-size: x-small; text-align: center;">Buy a Crunchy or Soft Taco and Get a Chipotle Cheddar Chalupa for $1 in the same order between 9/12/22-9/23/22, through 11:59 PM PDT. Redeemable only at participating U.S. Taco Bell® locations, while supplies last. Not available for delivery orders, unless placed directly on the Taco Bell app. Must be a registered user in the Taco Bell Rewards program. $1 Chipotle Cheddar Chalupa is available on eligible app and web orders placed from a registered account. $1 Chipotle Cheddar Chalupa will only be awarded on one purchase per account. Offer is non-transferable and cannot be combined with any other offer. Check your local Taco Bell store for availability. No cash value. Purchase required. Additional exclusions, terms and conditions apply.</p>
    </div>
  </div>
